<main class="min-h-dvh flex flex-col">

    <!-- Header -->
    <div class="max-w-250 mx-auto w-full px-4 md:px-7 lg:px-10 py-3 flex items-center justify-between gap-x-5">

        <!-- Logo -->
        <a href="/" class="h-10 inline-block">
            <img src="/logo.svg" alt="Logo Las Locas" class="h-full w-auto">
        </a>


        <button routerLink="/perfil"
            class="flex flex-col gap-y-1 bg-gray-100 text-black hover:bg-gray-200 hover:text-primary h-10 w-10 rounded-full items-center justify-center transition">

            <!-- Si tiene imagen -->
            @if (user?.photoUrl) {
            <img [src]="user?.photoUrl" alt="Foto de perfil" class="w-10 h-10 rounded-full">
            }
            @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="size-5.5">
                <g fill="none" stroke="currentColor" stroke-width="1.5">
                    <circle cx="12" cy="6" r="4" />
                    <path d="M20 17.5c0 2.485 0 4.5-8 4.5s-8-2.015-8-4.5S7.582 13 12 13s8 2.015 8 4.5Z" />
                </g>
            </svg>
            }
        </button>
    </div>

    <!-- Content -->
    <div class="flex-1 w-full relative">
        @if (isLoading) {
        <div class="max-w-250 mx-auto px-4 py-20 text-center">
            <p>Cargando información del pedido...</p>
        </div>
        } @else if (error) {
        <div class="max-w-250 mx-auto px-4 py-20 text-center">
            <p class="text-red-500 font-medium">No se pudo cargar la información del pedido o no existe.</p>
            <a href="/" class="text-blue-500 hover:underline mt-4 inline-block">Volver al inicio</a>
        </div>
        } @else if (order) {
        <div
            class="max-w-250 mx-auto h-full px-4 md:px-7 lg:px-10 py-10 grid grid-cols-1 lg:grid-cols-[1fr_auto] lg:gap-x-10 xl:gap-x-20 gap-y-10">

            <component-order-confirmed-resumen [order]="order" />

            <div class="">
                <component-order-confirmed-summary [order]="order" />
                <div class="pt-5 mt-5 border-t border-gray-300">
                    <component-checkout-products [inputItems]="order.items" />
                </div>
            </div>
        </div>
        }
    </div>

</main>