<main class="h-dvh w-full flex items-center justify-center">

    <div class="w-full max-w-sm mx-auto space-y-7">

        <!-- Logo -->
        <a href="/" class="flex justify-center w-fit mx-auto">
            <img src="/logo.svg" alt="Logo Las Rocas" class="h-24">
        </a>

        <!-- Título -->
        <div>
            <h1 class="text-2xl font-medium text-center uppercase tracking-wide font-title">Crear Cuenta</h1>
            <p class="text-center text-gray-700 text-sm">Completa los campos para crear tu cuenta</p>
        </div>

        <!-- Formulario de creación de cuenta -->
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4">

            <!-- Nombre -->
            <div class="flex flex-col gap-y-2">
                <label for="names" class="block text-sm font-medium">
                    Nombre completo
                </label>
                <div class="relative">
                    <input type="text" id="names" formControlName="names" placeholder="Ingresa tu nombre completo"
                        class="w-full px-4 pl-12 py-2.5 border text-sm focus:outline-none focus:ring-2 focus:ring-primary"
                        [ngClass]="{'border-red-500': signupForm.get('names')?.invalid && signupForm.get('names')?.touched, 'border-gray-300': !(signupForm.get('names')?.invalid && signupForm.get('names')?.touched)}">
                    <svg lucideUser class="absolute text-gray-500 size-4 top-1/2 -translate-y-1/2 left-4" />
                </div>
                @if (signupForm.get('names')?.invalid && signupForm.get('names')?.touched) {
                    <span class="text-xs text-red-500">El nombre es requerido (mín. 3 caracteres).</span>
                }
            </div>

            <!-- Correo electrónico -->
            <div class="flex flex-col gap-y-2">
                <label for="email" class="block text-sm font-medium">
                    Correo electrónico
                </label>
                <div class="relative">
                    <input type="email" id="email" formControlName="email" placeholder="Ingresa tu correo electrónico"
                        class="w-full px-4 pl-12 py-2.5 border text-sm focus:outline-none focus:ring-2 focus:ring-primary"
                        [ngClass]="{'border-red-500': signupForm.get('email')?.invalid && signupForm.get('email')?.touched, 'border-gray-300': !(signupForm.get('email')?.invalid && signupForm.get('email')?.touched)}">
                    <svg lucideAtSign class="absolute text-gray-500 size-4 top-1/2 -translate-y-1/2 left-4" />
                </div>
                @if (signupForm.get('email')?.invalid && signupForm.get('email')?.touched) {
                    <span class="text-xs text-red-500">Ingresa un correo electrónico válido.</span>
                }
            </div>

            <!-- Contraseña -->
            <div class="flex flex-col gap-y-2">
                <label for="password" class="block text-sm font-medium">
                    Contraseña
                </label>
                <div class="relative">
                    <input type="password" id="password" formControlName="password" placeholder="Ingresa tu contraseña"
                        class="w-full px-4 pl-12 py-2.5 border text-sm focus:outline-none focus:ring-2 focus:ring-primary"
                        [ngClass]="{'border-red-500': signupForm.get('password')?.invalid && signupForm.get('password')?.touched, 'border-gray-300': !(signupForm.get('password')?.invalid && signupForm.get('password')?.touched)}">
                    <svg lucideLock class="absolute text-gray-500 size-4 top-1/2 -translate-y-1/2 left-4" />
                </div>
                @if (signupForm.get('password')?.invalid && signupForm.get('password')?.touched) {
                    <span class="text-xs text-red-500">La contraseña debe tener al menos 6 caracteres.</span>
                }
            </div>

            <!-- Botón de creación de cuenta -->
            <button type="submit" [disabled]="isLoading"
                class="mt-2 w-full py-2.5 text-center bg-primary text-white text-sm font-medium hover:bg-primary-hover focus:outline-none focus:ring-2 focus:ring-primary-hover disabled:opacity-50 disabled:cursor-not-allowed transition-all">
                @if (isLoading) {
                    <span class="animate-pulse">Creando...</span>
                } @else {
                    Crear Cuenta
                }
            </button>
        </form>

        <!-- Login -->
        <div class="flex gap-x-2 items-center text-sm justify-center mt-5">
            <p class="text-center">
                ¿Ya tienes una cuenta?
            </p>
            <a href="/auth/ingresar" class="text-primary font-semibold hover:underline">Inicia sesión</a>
        </div>

    </div>

</main>