<div class="space-y-7 lg:w-sm" *ngIf="order">

    <div class="flex items-center justify-between">
        <h2 class="text-lg uppercase font-title">Tu pedido</h2>

        <div class="flex items-center gap-x-1.5 border border-primary text-primary text-sm px-2 py-1.5">
            <svg lucideClock class="size-4" />
            Pendiente
        </div>
    </div>

    <div class="space-y-2">

        <div class="text-sm flex items-center justify-between">
            <p class="text-gray-500">Subtotal</p>
            <p class="">S/. {{ order.subtotal | number:'1.2-2' }}</p>
        </div>

        <div class="text-sm flex items-center justify-between">
            <p class="text-gray-500">Costo por envío</p>
            <p class="">S/. {{ order.deliveryFee | number:'1.2-2' }}</p>
        </div>

        <div class="text-sm flex items-center justify-between" *ngIf="order.preparationTime">
            <p class="text-gray-500">Tiempo Estimado</p>
            <p class="">{{ order.preparationTime }} min</p>
        </div>

        <div class="text-sm flex items-center justify-between" *ngIf="order.manualDiscount > 0">
            <p class="text-gray-500">Descuento aplicado</p>
            <p class="text-primary">- S/. {{ order.manualDiscount | number:'1.2-2' }}</p>
        </div>

        <div class="mt-5 font-medium text-sm flex items-center justify-between">
            <p>Total pagado</p>
            <p>S/. {{ order.totalAmount | number:'1.2-2' }}</p>
        </div>
    </div>

</div>